@font-face {
    font-family: "Poppins";
    src: url(../assets/Poppins/Poppins-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", serif; 
}

html{
    font-size: 62.5%;
}

:root {
    /* main color */
    --color-01: #ffffff;
    --color-02: #333333;
    /* secundary color */
    --color-04: #707070;
    --color-05: #cccccc;
}