.homePage {
    width: 100%;
}

.mainContent {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
}

.moodSelector h2{
    font-size: 4rem;
}

.moodSelector p{
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: #848484;
}

.moodButtonsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.moodButtons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.moodButtons button {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: #848484;
}

.moodButtons button:hover {
    background-color: #333;
    color: #fff;
}

.moodButtons button .moodIcons {
    font-size: 2rem;
}

.quoteSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.generateAnotherButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.favoritesSection {
    margin-top: 2rem;
}